*{
	padding:0px;
	margin:0px;
	text-align:left;
	}
li{list-style:none;}

body{
	font-size:14px;
	background-color:#fff;
	background:url(../images/bg.gif) top no-repeat;
	color:#727272;
	text-align:center;	
	font-family:Arial, Helvetica, sans-serif;
	}
#mybody{
	margin:auto;
	width:1005px;
	background:url(../images/banner.jpg) top no-repeat;	
	}
#mybody_dyw{
	margin:auto;
	width:1005px;
	background:url(../images/banner-dy.jpg) top no-repeat;	
	}
#mybody_jyw{
	margin:auto;
	width:1005px;
	background:url(../images/banner-jy.jpg) top no-repeat;	
	}
#mybody_xyh{
	margin:auto;
	width:1005px;
	background:url(../images/banner-xy.jpg) top no-repeat;	
	}
#mybody_tsg{
	margin:auto;
	width:1005px;
	background:url(../images/banner-tsg.jpg) top no-repeat;	
	}
#top{
	height:300px;
	}

.redfont{
	color:red;
	font-weight:bold;
}
a{
	color:#727272;
	text-decoration:none;
	}
a:hover{
	text-decoration:underline;
	}
.font_next{
	color:#22a3d3;
	}
/*菜单样式*/
.menu{
	height:60px;
	text-align:center;
	color:#b9f605;
	font-size:14px;
	font-weight:bold;
	}
.menu ul{
	width:1005px;
	margin:auto;
	height:60px;
	line-height:60px;
	vertical-align:middle;	
	}
.menu li{
	float:left;
	padding:0px 11px;	
	}
.menu a{
	color:#fff;	
	text-decoration:none;
	}
.menu a:hover{
	color:#b9f605;
	}
.menu .specil {
	color:#fdb306;
	}
#dh{
	height:54px;	

	
	}
#dh h1{
	font-size:14px;
	float:left;
	height:54px;
	line-height:54px;
	vertical-align:middle;
	text-align:left;
	font-weight:normal;
	background:url(../images/pot.png) left no-repeat;
	padding-left:30px;
	width:690px;
	}

/*搜索样式*/
#search{
	width:283px;
	height:33px;
	margin-top:11px;
	vertical-align:middle;
	float:left;	
	
	}
#search .search_text{
	width:246px;
	height:33px;
	border:0px;
	background:url(../images/search_bg1.gif);
	font-size:14px;
	color:#666;
	float:left;
	}
#search .search_but{
	width:37px;
	height:33px;
	background:url(../images/search_button.gif);
	border:0px;
	float:left;
	}
#left{
	width:260px;
	float:right;
	font-size:14px;
	}
#leftmenu{
	width:260px;
	margin-top:20px;
	}
#leftmenu h1{
	font-size:16px;
	height:40px;
	font-family:"微软雅黑";
	background:url(../images/menutitle.gif);
	padding-left:40px;
	line-height:40px;
	vertical-align:middle;
	}
#leftmenu ul{margin:20px 0}
#leftmenu a{
	display:block;
	height:40px;
	background:url(../images/menulist.gif);
	padding-left:40px;
	line-height:40px;
	vertical-align:middle;
	}
#leftmenu a:hover{
	color:#57c306;
	background:url(../images/menuhover.gif);
	font-weight:bold;
	text-decoration:none;
	}
#leftmenu .dq{
	color:#57c306;
	background:url(../images/menuhover.gif);
	font-weight:bold;
	}
#hot{
	border-top:1px solid #eee;
	background-color:#f9f9f9;
	border-bottom:2px solid #eee;
	height:260px;	
	text-align:center;
	margin:20px auto;
	}
#hot h2{
	height:36px;
	width:206px;
	margin:15px auto;
	background:url(../images/hot.gif);
	}
#hot li{
	font-size:12px;
	height:23px;
	margin-left:27px
	}
#pic{
	border-top:1px solid #eee;
	background-color:#f9f9f9;
	border-bottom:2px solid #eee;
	height:460px;	
	text-align:center;
	}
#pic img{border:3px solid #fff;}
#pic h1{
	height:36px;
	width:206px;
	margin:15px auto;
	background:url(../images/tjpic.gif);
	}
#pic #colee{
	height:370px;
	width:206px;
	margin:15px auto;
	overflow:hidden;		
	}
#pic #colee p{
	text-align:center;	
	margin-top:10px;
	width:206px;
	}
#right{
	width:677px;
	margin-right:40px;
	margin-bottom:20px;
	float:right;	
	line-height:25px;
	}
#right h1{
	width:677px;
	background:url(../images/line.gif) bottom no-repeat;
	color:#686868;
	font-size:20px;
	text-align:center;
	font-family:"微软雅黑";
	line-height:36px;
	margin-top:20px;
	font-weight:normal
	}
#right h3{
	width:677px;
	background:url(../images/line.gif) bottom no-repeat;
	color:#686868;
	font-size:20px;
	text-align:left;
	font-family:"微软雅黑";
	height:40px;
	margin-top:20px;
	font-weight:normal
	}
#right h2{
	width:677px;
	color:#a9a8a8;
	font-size:12px;
	text-align:center;	
	height:25px;
	margin-top:10px;
	font-weight:normal
	}
#right ul{margin:10px 0;
    line-height:25px;
}
#right p{text-indent:30px;}
#right img{
	margin:10px 20px;
	border:3px solid #ddd;
	
	}
#right li{
	height:31px;
	background:url(../images/pot.gif) left no-repeat;
	padding-left:30px;
	line-height:31px;
	vertical-align:middle;
	position:relative;
	}
#right li:hover{
	background:#f2f8fb;
	}
#right .newsdate{
	color:#a9a9a9;
	position:absolute;
	right:0px
	}
#right .newsdate{
	color:#a9a9a9;
	position:absolute;
	right:0px
	}
/*分页样式*/

#page {
	PADDING: 3px;  TEXT-ALIGN: center; float:right; margin-bottom:20px;
}
#page A {
	 text-align:center;
	 height:41px;
	 width:44px;
	 line-height:41px;
	 vertical-align:middle;
	 COLOR: #595959; 
	 TEXT-DECORATION: none; 
	 display:block; 
	 float:left; 
	 background:url(../images/pagebg.gif); 
	 font-size:14px;
	 margin-left:3px;
}
#page A:hover {
	  COLOR: #fff; background:url(../images/pagebg_1.gif)
}

#page .current {
	 text-align:center;
	 height:41px;
	 width:44px;
	 line-height:41px;
	 vertical-align:middle;	
	 display:block; 
	 float:left; 	  
	 font-size:14px;
	 margin-left:3px; COLOR: #fff;
	  background:url(../images/pagebg_1.gif);
	  
}
#page .disabled {
	 text-align:center;
	 height:41px;
	 width:75px;
	 line-height:41px;
	 vertical-align:middle;	
	 display:block; 
	 float:left; 	  
	 font-size:14px;
	 margin-left:3px;
	 background:url(../images/pre.gif);
	 COLOR: #595959;

}
#page .disabled:hover{
	background:url(../images/pre_1.gif);
	 COLOR: #595959;
	}
.next{
	height:40px;
	background:url(../images/line.gif) top no-repeat;
	margin-top:20px;
	line-height:40px;
	vertical-align:middle;
	font-size:12px;
	}
.next a{
	margin-right:40px;
	}
/*底部*/
#foot{
	clear:both;
	height:68px;
	background:#2a2a2a;
	text-align:center;
	line-height:68px;
	vertical-align:middle;
	color:#d8d8d8;
	}
/*---------bbs-----------*/
#bbs{
	width:978px;
	height:442px;
	background:url(../images/bbsbg.jpg) bottom no-repeat;
	margin:auto;
    margin-top:20px;
	margin-bottom:30px;
	}
#bbs h1{
	width:978px;
	background:url(../images/bbstitle.jpg) left no-repeat;
	height:70px;
	text-align:right;
	}
.bbsbut{
	width:125px;
	height:38px;
	background:url(../images/bbsbut.gif) no-repeat;
	border:0px;
	margin-right:5px;
	margin-top:15px;
	color:#22648d;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	}
.bbsbut:hover{
	width:125px;
	height:38px;
	background:url(../images/bbsbut1.gif) no-repeat;
	border:0px;
	margin-right:5px;
	cursor:pointer;
	}
#bbs ul{
	width:640px;
	height:280px;
	margin-left:310px;
	margin-top:30px;
	line-height:27px;
	}
#bbs p {
	text-indent:29px;
	
	}
